*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

.cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100vh;
    padding-top: 6vw;
    /* margin-top: 3vw; */
}

.cart_item img{
    width: 25%;
}

.cart_item{
    display: flex;
    align-items: center;
    width: 50%;
    gap: 30px;
    padding: 10px 0;
    padding-left: 50px;
    border-radius: 20px;
    border: 1px solid #333;
    margin-bottom: 20px;
}

.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

.count_handler{
    width: 100%;
    overflow: hidden;
    height: 2vw;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.count_handler button{
    height: 100%;
}

button{
    border: 1px solid black;
    padding: 0px 5px 0px 5px;
    cursor: pointer;
    background-color: gainsboro;
}

input{
    border: 1px solid black;
    width: 50px;
    text-align: center;
    height: 100%;
}

.last_button{
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.last_button button{
    padding: 10px;
    border-radius: 10px;
    transition: all ease .4s;
}

.last_button button:hover{
    background-color: #111;
    color: white;
}

.discripition h2{
    font-size: 2vw;
    font-weight: 600;
}

.discripition p{
    font-size: 1vw;
    font-weight: 600;
}